body,
html {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Helvetica Neue", serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    height: 100px;
}

.header-content {
    margin-top: 30px;
    margin-left: 520px;
}

.logo {
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 50%;
}

.nav {
    margin-top: 40px;

}

a {
    color: white;
    text-decoration: none;
}

.nav-ul {
    display: flex;
    flex-direction: row;
}

.nav-li {
    margin-right: 20px;
}

.description {
    background-color: lightgray;
    padding: 50px 150px;
}

.description-img {
    float: left;
    width: 500px;
    height: 520px;
    border: lavender 1px solid;
    margin-bottom: 20px;
    margin-right: 30px;
}

.description-p2 {
    clear: both;
}

.relationship {
    padding: 30px 150px;
    display: flex;
    flex-direction: row-reverse;
}

.relationship-img {
    margin-left: 30px;
    width: 500px;
    height: 520px;
}

.relationship-content {
    float: right;
}

.footer {
    background-color: gray;
    height: 100px;
    text-align: center;
    line-height: 100px;
}